<a href="https://colab.research.google.com/github/Shikha098/python-assignment/blob/main/Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Questions and Answers :-

# 1) Discuss string slicing and provide examples.

String slicing allows you to extract a portion of a string by specifying a start and end index.

In [ ]:
#example of string slicing :-

a = "Shikha"
a[2]

'i'

In [ ]:
a[0:4]

'Shik'

In [ ]:
b = "This is a computer"
b[10:18]

'computer'


# 2) Explain the key features of lists in Python.

Key features are -

a) Lists are ordered collection of items.

b) It is like shopping bag and can store everything.

c) It is heterogenous which can store anything like int, float, str, boolean etc.

d) It is changeable (mutable), which means they can have their elements changed after they are created.

e)It can be sliced and modified.

# 3) Describe how to access, modify, and delete elements in a list with examples.

The following examples of accessing, modifying and deleting elements in a list are :-

In [ ]:
#Example for accessing the elements from list :-

name = ["Rohit", "Shikha", "Deepak", "Ram"]
name[2]

'Deepak'

In [ ]:
name[0:3]

['Rohit', 'Shikha', 'Deepak']

In [ ]:
#Example for modifying the elements from list :-

name = ["Rohit", "Shikha", "Deepak", "Ram"]
name.append("Riya")
name

['Rohit', 'Shikha', 'Deepak', 'Ram', 'Riya']

In [ ]:
#Example for deleting the elements from list :-

name = ["Rohit", "Shikha", "Deepak", "Ram"]
name.remove(name[2])
name

['Rohit', 'Shikha', 'Ram']

# 4) Compare and contrast tuples and lists with examples.

Tuples :-  
a) Tuples are used to store multiple items in a single variable.

b) A tuple is a collection which is ordered and unchangeable.

c) It is heterogenous which can store anything like int, float, str, boolean etc.

In [ ]:
a = ()
type(a)

tuple

In [ ]:
a = ("sam", "fox", 1, 2, 4.5, True)
a

('sam', 'fox', 1, 2, 4.5, True)

In [ ]:
a.count(1)    # for counting the elements

2

In [ ]:
a[0:3]       # for accesing the elements

('sam', 'fox', 1)

In [ ]:
2 in a     # membership in tuple

True

In [ ]:
del a      #it will delete the tuple 'a'

NameError: name 'a' is not defined

Lists :-   
a) Lists are ordered collection of items.

b) It is like shopping bag and can store everything.

c) It is heterogenous which can store anything like int, float, str, boolean etc.

d) It is changeable (mutable), which means they can have their elements changed after they are created.

e)It can be sliced and modified.

In [ ]:
list=[]
type(list)

list

In [ ]:
vehicle = ["Car", "Byke", "Cycle", "Scooter"]
vehicle

['Car', 'Byke', 'Cycle', 'Scooter']

In [ ]:
vehicle[3]       #to access the elements

'Scooter'

In [ ]:
vehicle[:-1]

['Car', 'Byke', 'Cycle']

In [ ]:
vehicle.append("Scorpio")          #to modify the elemnts in the list
vehicle

['Car', 'Byke', 'Cycle', 'Scooter', 'Scorpio']

In [ ]:
sorted(vehicle)             #it will sort the elements.
vehicle

['Car', 'Byke', 'Cycle', 'Scooter', 'Scorpio']

In [ ]:
"Car" in vehicle       # membership in list

True

In [ ]:
del vehicle      # it will delete the list 'vehicle'

NameError: name 'vehicle' is not defined

# 5) Describe the key features of sets and provide examples of their use.

Key features of sets :-     
a) It is unordered and unique collection.

b) It does not allow duplicate elements.

c) In sets indexing will not work.

d) Items of a set in python are immutable (unchangeable).

e) Sets can't be accessed and sliced.

In [ ]:
a = {1, 4, 'Peas'}
type(a)

set

In [ ]:
a = {1, 1, 3.3, 3.3, "Mom", "Mom"}     # it will not execute duplicate values
a

{1, 3.3, 'Mom'}

In [ ]:
for i in a:      # for loop in sets
   print(i)

1
3.3
Mom

In [ ]:
a.add(45)
a               # it will add elements in a set

{1, 3.3, 45, 'Mom'}

In [ ]:
a.pop()      #it will remove the elements either from last or from first and we cannot assign the elements manually to pop the elements.

1

In [ ]:
a.remove(45)     # it removes the elements
a

{'Mom'}

In [ ]:
a.update(['Apple', 'Mango'])       # it will update the elements in the set.
a

{'Apple', 'Mango', 'Mom'}

# 6) Discuss the use cases of tuples and sets in Python programming.

In [ ]:
# Use cases of tuples :-

box1 = ("dairymilk", "Mangobite", "Kitkat")
box2 = ("Darkfantasy", "eclairs")
choc_bag = (box1, box2)
choc_bag

(('dairymilk', 'Mangobite', 'Kitkat'), ('Darkfantasy', 'eclairs'))

In [ ]:
for i in choc_bag:
    for choc in i:
        print(i)

('dairymilk', 'Mangobite', 'Kitkat')
('dairymilk', 'Mangobite', 'Kitkat')
('dairymilk', 'Mangobite', 'Kitkat')
('Darkfantasy', 'eclairs')
('Darkfantasy', 'eclairs')

In [ ]:
dep1 = ("Ram", "Shyam")
dep2 = ("Riya", "Nupur")
comp_emp = (dep1, dep2)
comp_emp

(('Ram', 'Shyam'), ('Riya', 'Nupur'))

In [ ]:
for i in comp_emp:
     for emp in i:
      print(i)

('Ram', 'Shyam')
('Ram', 'Shyam')
('Riya', 'Nupur')
('Riya', 'Nupur')

In [ ]:
#Use cases of sets:-

grocery_list = {"apple", "Mango", "Mango", 'sugar', "Salt", "Dry fruits", "sugar"}
grocery_list

{'Dry fruits', 'Mango', 'Salt', 'apple', 'sugar'}

In [ ]:
fav_food ={"chowmin", "Chilli", "veg lolipop", "chowmin", "chilli"}
fav_food

{'Chilli', 'chilli', 'chowmin', 'veg lolipop'}

# 7) Describe how to add, modify, and delete items in a dictionary with examples.

a) It is one of the fastest data structure amongst all.

b)It stores in the form of key value pair.

c) Key unique and immutable.

d) It is unordered but 3.7 version of python it has insertion which return in ordered.

In [ ]:
a = {}
type(a)

dict

In [ ]:
a = {"name": "Shikha", "Age": 24, "Contact": 79056}
a

{'name': 'Shikha', 'Age': 24, 'Contact': 79056}

In [ ]:
a["name"]="Riya"      #modifying the dict elements
a

{'name': 'Riya', 'Age': 24, 'Contact': 79056}

In [ ]:
a["Place"]="Bokaro"   #addig the elements in dict
a

{'name': 'Riya', 'Age': 24, 'Contact': 79056, 'Place': 'Bokaro'}

In [ ]:
a.pop("Contact")     # it will delete the element in dict
a

{'name': 'Riya', 'Age': 24, 'Place': 'Bokaro'}

# 8) Discuss the importance of dictionary keys being immutable and provide examples.

Importance :-   
a) Immutable keys ensure the integrity of the dictionary's internal structure.

b) If keys were mutable, their values could change, leading to inconsistencies in the dictionary.

c)  Immutable keys also provide a reliable and efficient way to hash and compare values, ensuring fast lookups and operations.

In [ ]:
#example :-

a = {"name": "Veena", "Age": 36, "Contact": 7956}
a

{'name': 'Veena', 'Age': 36, 'Contact': 7956}

In [ ]:
a = {["name"]: "Veena"}      #it will throw an error as key is immutable and no list as key
print(a)

TypeError: unhashable type: 'list'

In [ ]:
a ={{"name"}: "Veena"}   # it will throw an error as no dictionary as key
a

TypeError: unhashable type: 'set'